[user]
    name = Iori ONDA
    email = iori.onda@gmail.com

[include]
    path = .gitconfig.local

[core]
    editor = vim
    whitespace = fix, -indent-with-non-tab, trailing-space, cr-at-eol
    excludesfile = .gitignore
    # from 2.1.0
    pager = less -S

[color]
    ui = true
    diff = true
    status = auto
    branch = auto

[push]
    # push only the current branch
    default = tracking

[branch]
    autosetuprebase = always

[merge]
    # from 1.7.6
    ff = false

[pull]
    # from 1.7.9
    rebase = true

[tig "bind"]
    generic = g move-first-line
    generic = G move-last-line

[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
    cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
    last = show -1 HEAD --stat p
    dfc = diff --color-words
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
    b = branch -a
    br = browse-remote
    ci = commit
    co = checkout
    d = diff
    dc = diff --cached
    f = fetch --prune
    fs = !git f && git su
    ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >> .gitignore
    info = remote show origin
    l = log --graph -n 20 --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ln = log --graph -n 20 --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset' --name-status
    lp = log --oneline -n 20 -p
    ls = log --stat --abbrev-commit -n 1 # display previous log
    la = "!git config -l | grep alias | cut -c 7-"
    s = status --short --branch
    st = status
    su = submodule update
    conflicts = !git ls-files -u | cut -f 2 | sort -u
    see = browse

    cp = cherry-pick
    st = status -s
    cl = clone
    ci = commit
    co = checkout
    br = branch
    diff = diff --word-diff
    dc = diff --cached

    r = reset
    r1 = reset HEAD^
    r2 = reset HEAD^^
    rh = reset --hard
    rh1 = reset HEAD^ --hard
    rh2 = reset HEAD^^ --hard
    n   = now --all --stat
[web]
    browser = google-chrome

[browse-remote "github.com"]
        top = https://{host}/{path}
        ref = https://{host}/{path}/tree/{short_ref}
        rev = https://{host}/{path}/commit/{commit}
[pr-release]
	token = d0c1fa1468477326d1c5598ae2007267f332f5d8
