# Common
/*
/.*

!/.gitconfig
!/.gitignore
!/.gitmodules
!/.gvimrc
!/.hgignore
!/.hgrc
!/.inputrc
!/.screenrc
!/.source-highlight
!/.tmux.conf
!/.vimrc
!/.vim
!/.zsh
!/.zshrc
!/.zshenv
!/.zprofile
!/.zshrc.alias
!/.zshrc.bindkey
!/.zshrc.linux
!/.zshrc.local
!/.zshrc.osx
!/.pryrc
!/README.md
!/link.sh
!/.muttrc
!/.emacs.d
!default-gems

.emacs.d/elpa
.emacs.d/auto-save-list
.emacs.d/ac-comphist.dat
.emacs.d/history
.emacs.d/packages/*
.emacs.d/eshell/*
.emacs.d/url
.emacs.d/snippets
.emacs.d/site-lisp/howm
.emacs.d/elisp
.vim/bundle/*
