/*
/.*

!/.gitconfig
!/.gitignore
!/.gitmodules
!/.gvimrc
!/.hgignore
!/.hgrc
!/.inputrc
!/.screenrc
!/.source-highlight
!/.tmux.conf
!/.vim
!/.vimperator
!/.vimperatorrc
!/.vimrc
!/.zsh.d
!/.zshrc
README
link.sh

/.vim/bundle
