# Common
/*
/.*

!/.gitconfig
!/.gitignore
!/.gitmodules
!/.gvimrc
!/.hgignore
!/.hgrc
!/.inputrc
!/.screenrc
!/.source-highlight
!/.tmux.conf
!/.vim
!/.vimperatorrc
!/.vimrc
!/.zsh
!/.zshrc
!/.zshrc.alias
!/.zshrc.bindkey
!/.zshrc.linux
!/.zshrc.local
!/.zshrc.osx
!/.zshrc.percol
README
link.sh

/.vim/bundle/
